* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/* .rap {
  max-width: 280px;
} */

#calendar {
  height : 80%;
}

/* today 표시 */
#today {
  background-color: #293661;
  color: white;
}

.day {
  height : 30px;
  width : 25px;
  opacity : 0.5;
}

.selected {
  background-color: #bd445b;
  color: white;
  opacity : 1;
}

.selected:hover{
  cursor:pointer;
}

.choice {
	background-color: #293661;
	color : white;
}
