* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/* .rap {
  max-width: 280px;
} */

#calendar {
  height : 100%;
}

/* today 표시 */
#today {
  background-color: #293661;
  color: white;
}

.day {
  height : 30px;
  width : 25px;
}

.selected {
  background-color: #bd445b;
  color: white;
}

.selected:hover{
  cursor:pointer;
}