/* 폰트 */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 14px;
    font-family: 'NanumSquareRound';
}

.b {
	border: 1px solid black;
}
.title-name {
	font-weight: bold;
	font-size: 23px;
}
.dropdown {
	padding: 0 !important;
}
#car_num {
	line-height: 100% !important;
	padding : 7px;
	border: none;
}
#today {
	border-radius: 50% !important;
}
#calendar {
	cursor: default; 
}

#download-btn {
	background-color: #00418c !important;
	color: white;
}
#download-btn:hover, #add-data-btn:hover, .menu-show-btn:hover {
    background-color: #000080 !important;
    color: white;
    border: 1px solid black;
}
.car-select:hover {
	cursor: pointer;	
}
#add-car-btn:hover {
    background-color: #c53d4e !important;
    color: white;
}
.logout-btn:hover {
    background-color: #d2eafd !important;
}
.mouse:hover { 
    cursor: pointer;
    background-color: #d2eafd !important;
}
.live_start {
	border: 2px solid red;
	color: red;
}
label {
    cursor: pointer;
}

#map {
	width : calc(100% - 400px);
    height: 100vh;
    position: absolute;
    right: 0;
    transition: 0.3s ease-in-out !important;
}

.hide-btn {
    display: none;
}

/* Live 버튼 애니메이션 정의 */
@keyframes blinkAnimation {

    0%,
    100% {
        background-color: red;
    }

    50% {
        background-color: orange;
    }
}
.ol-control {
    /* margin-top : 50px; */
    transform: translateY(50px);
    font-size: 20px;
    margin-right: 17px;
}

#menu-show-btn {
    z-index: 100;
    position: absolute;
    background-color: #00418c !important;
	color: white;
}

#download-btn {
    z-index: 100;
    position: absolute;
    font-weight: 700;
    right: 10px;
}

#live-btn {
    z-index: 100;
    position: absolute;
    font-weight: 700;
    background-color: white;
    left: 70px;
    line-height: 18px;
}
.live_stop {
	display:none;
	animation: blinkAnimation 1s infinite;
    color: white;
}
.live-btn:hover {
    background-color: red !important;
    color: white;
}

.info-view {
    height: 100vh;
}


/* 모달창 (데이터추가, 차량추가) */
.modal-backdrop {
    --bs-backdrop-zindex: 1;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}

.modal-backdrop.show {
    opacity: var(--bs-backdrop-opacity);
}